body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.group-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  margin: 10px;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}